{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Вот что я умею</h1>

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python 3.7.8
        </li>
        <li class="list-group-item">
          Django 2.2.9
        </li>
      </ul>
    </aside>  
    <article class="col-12 col-md-9">
      <p>Данный проект создан при поддержке Яндекс.Практикум, Гугла, русского мата, бубна и какой-то матери!</p>
    </article>
  </div>
</div>
{% endblock %}